<header>
    <div class="navbar shadow-sm">
        <div class="container">
            <div class="navbar-brand align-item-center d-flex">
                <div>
                    <img class="logo" src="./assets/images/ks-logo.jpg" alt="">
                </div>
                <strong class="header-title">The online Kitchen story</strong>
            </div>
            <div *ngIf="login==0" class="text-right">
                <button class="btn" type="button" data-toggle="modal" data-target="#loginModal">Login</button>
                <button class="btn" type="button" data-toggle="modal" data-target="#registerModal">Register</button>
               
            </div>
            <div *ngIf="login==1" class="text-right">
                <button class="btn"  (click)="logout()">Logout</button>
            </div>
        </div>

        <button *ngIf="login==1" class="btn" data-toggle="modal" data-target="#cartModal">
            <i style="font-size: 30px;color:#bf1e2e;" class="fas fa-cart-plus"></i>
            <div style="font-size: 15px;color: #607d8b; padding: 0;" class="badge">{{totalItem}}</div>
        </button>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-3">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="defaultForm-email" class="form-control validate" [(ngModel)]="user.email">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                    </div>

                    <div class="md-form mb-3">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control validate"  [(ngModel)]="user.password">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button data-dismiss="modal" class="btn btn-default" (click)="signIn()">Login</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-2">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="orangeForm-email" class="form-control validate" [(ngModel)]="user.email">
                        <label data-error="wrong" data-success="right" for="orangeForm-email" >Your email</label>
                    </div>

                    <div class="md-form mb-2">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="orangeForm-pass" class="form-control validate" [(ngModel)]="user.password">
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                    </div>
                    <div class="md-form mb-2">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="orangeForm-name" class="form-control validate" [(ngModel)]="user.name">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
                    </div>
                    <div class="md-form mb-2">
                        <i class="fas fa-phone prefix grey-text"></i>
                        <!--<i class="fas fa-user prefix grey-text"></i>-->
                        <input type="text" id="orangeForm-name" class="form-control validate" [(ngModel)]="user.contact">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Contact Number</label>
                    </div>
                    <div class="md-form mb-2">
                        <i class="	fas fa-address-book prefix grey-text"></i>
                        <input type="text" id="orangeForm-name" class="form-control validate" [(ngModel)]="user.address">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Address</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-deep-orange" (click)="signup()">Sign up</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Cart</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               

                <div class="modal-body mx-3">
                    <div class="row card" *ngFor="let product of cartItemList">
                       
                        <div class="col-md-3">{{product.name}}</div>
                        <!--<div class="col-md-3">{{product.category}}</div>-->
                        <div class="col-md-3"><img   [src]="product.category"  width="150px" height="150px"></div>
                        <div class="col-md-3">Price:${{product.price}}</div>

                    </div>
                    &nbsp;
                    <div class="row">
                        <div class="col-md-9"  style="font-weight:bold">Total price</div>
                        <div class="col-md-3">{{totalPrice}}</div>

                    </div>
                    
                    <div class="modal-footer d-flex justify-content-center">
                        <button data-dismiss="modal" class="btn btn-default" (click)="purchase()">to purchase</button>
                        <button data-dismiss="modal" class="btn btn-default" (click)="reset()">Reset</button>
                    </div>
                </div>
            
                   
            </div>
        </div>
    </div>
</header>